.direnv
.envrc
main

# generated (antlr)
parser/yune_lexer.go
parser/yune_parser.go
parser/YuneLexer.tokens
parser/YuneParser.tokens
parser/YuneLexer.interp
parser/YuneParser.interp

# generated (protobuf)
cpp/includes/proto/*.pb.h
cpp/includes/proto/*.pb.cc
pb/*.pb.go
