.direnv
.envrc
main

# ANTLR generated
parser/yune_lexer.go
parser/yune_parser.go
parser/YuneLexer.tokens
parser/YuneParser.tokens
parser/YuneLexer.interp
parser/YuneParser.interp

# clangd (C++ LSP) generated
cpp/.cache/

# `go test` generated
main.test
cpuprofile.out
memprofile.out
trace.out

# compiler-generated
program
library.o
